// Text
$moderate-violet: hsl(276, 55%, 52%);
$grayish-blue: hsla(206, 6%, 79%, 0.5);
$dark-grayish-violet: hsl(270, 7%, 64%);

// Gradients
$light-magneta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

// Secondary
$light-grayish-violet: hsl(270, 20%, 96%);
